{%extends "base.html"%}

{%block body%}
<p class="text-[350%] text-center py-[10%]">  Welcome To Image Whisper  </p>

<div class="flex flex-row justify-center">

    <div>
        <button class="btn btn-outline-light mx-10">
            <a href="/encrypt">Encrypt</a>
          </button>
    </div>

        
    <div>
        <button class="btn btn-outline-light mx-10">
        <a href="/decrypt"> Decrypt </a>
        </button>
    </div>

</div>


    
<div class="fixed bottom-10 left-10">
    <p> Made With 💚 By Aviral Mishra</a> </p>
    </div>
{%endblock%}